.mode a
{
  text-decoration: none;
  line-height: 50px;   /* should be equal to height of image so set from js */
  color:black;
  border: 1px solid #D3D3D3;
  padding: 5px 20px 5px 20px;
  border-radius: 3px;
}

.add-icon
{
  text-decoration: none;
  font-weight: bold;
  color:grey;
  font-size: 20px;
  border: 1px solid grey;
  padding:  1px 15px 1px 15px;
  border-radius: 1px;
  cursor: pointer;


}
.separator
{
  height: 2px;
  background: #fff;
  margin-top: 4px;
  width: 98%;
}

.separator:hover
{
}
